<div class="container">
  <div class="row">
    <div class="column">
      <div class="heading"><h1>Reactive Forms Tutorial</h1></div>
      <form class="form" (submit)="submit()">
        <input class="input" placeholder="username" type="text" id="username" />
        <input
          class="input"
          placeholder="password"
          type="password"
          id="password"
        />
        <button type="submit" class="button">Login</button>
      </form>
      <div class="registration-link">
        <p>register here now</p>
      </div>
    </div>
  </div>
</div>
